.container {
  padding: 24px;
  border-radius: 10px;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--text-invert);
}

.summary {
  color: var(--text-invert-secondary);
  margin-bottom: 16px;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.likes {
  font-weight: bold;
  color: var(--text-invert-secondary);
  font-size: 1rem;
}

.likesPart {
  display: flex;
  align-items: center;
  margin-left: 32px;
  color: var(--like-invert);
  & > svg {
    fill: var(--like-invert);
    margin-right: 5px;
  }
}

.lastUpdatedPart {
  color: var(--text-invert-secondary);
  font-size: 0.6rem;
}

.lastUpdated {
  font-weight: bold;
  color: var(--text-invert-secondary);
  font-size: 0.8rem;
}
