.container {
  padding: 16px;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--text-invert);
}

.summary {
  font-size: 1rem;
  color: var(--text-invert-secondary);
  margin-bottom: 16px;
  min-height: 200px;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.likes {
  font-weight: bold;
  color: var(--text-invert-secondary);
  font-size: 1rem;
}

.likesPart {
  display: flex;
  align-items: center;
  & > svg {
    fill: var(--text-invert-secondary);
    margin-right: 5px;
  }
}

.lastUpdatedPart {
  color: var(--text-invert-secondary);
  font-size: 0.6rem;
}

.lastUpdated {
  font-weight: bold;
  color: var(--text-invert-secondary);
  font-size: 0.8rem;
}
