.name {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 32px;
}

.blogsTitle {
  text-transform: uppercase;
  color: var(--text-light);
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 16px;
}
