.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.name {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text);
}

.blogsTitle {
  text-transform: uppercase;
  color: var(--text-light);
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 16px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 16px;
}
