:root {
  --text: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 75%);
  --text-light: hsl(0, 0%, 50%);

  --text-invert: hsl(0, 0%, 20%);
  --text-invert-secondary: hsl(0, 0%, 30%);
  --text-invert-light: hsl(0, 0%, 60%);

  --bg: hsl(0, 0%, 10%);

  --tile-color-1: hsl(81, 65%, 82%);
  --tile-color-1-tint: hsl(81, 65%, 70%);

  --tile-color-2: hsl(328, 71%, 82%);
  --tile-color-2-tint: hsl(328, 71%, 70%);

  --tile-color-3: hsl(7, 82%, 82%);
  --tile-color-3-tint: hsl(7, 82%, 70%);

  --tile-color-4: hsl(176, 74%, 82%);
  --tile-color-4-tint: hsl(176, 74%, 70%);

  --tile-color-5: hsl(240, 39%, 82%);
  --tile-color-5-tint: hsl(240, 39%, 70%);

  --tile-color-6: hsl(293, 40%, 82%);
  --tile-color-6-tint: hsl(293, 40%, 82%);
}
