@import "./colors";

html,
body {
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  padding: 64px 25%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  font-family: inherit;
}

.variant1 {
  background: linear-gradient(
    341deg,
    var(--tile-color-1),
    var(--tile-color-1-tint)
  );
}

.variant2 {
  background: linear-gradient(
    341deg,
    var(--tile-color-2),
    var(--tile-color-2-tint)
  );
}

.variant3 {
  background: linear-gradient(
    341deg,
    var(--tile-color-3),
    var(--tile-color-3-tint)
  );
}

.variant4 {
  background: linear-gradient(
    341deg,
    var(--tile-color-4),
    var(--tile-color-4-tint)
  );
}

.variant5 {
  background: linear-gradient(
    341deg,
    var(--tile-color-5),
    var(--tile-color-5-tint)
  );
}

.variant6 {
  background: linear-gradient(
    341deg,
    var(--tile-color-6),
    var(--tile-color-6-tint)
  );
}

@media screen and (max-width: 1000px) {
  body {
    padding-inline: 20%;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-inline: 32px;
  }
}
